regtest=1
rpcuser=${BITCOIN_RPC_USER}
rpcpassword=${BITCOIN_RPC_PASSWORD}
fallbackfee=0.0001
rpcallowip=127.0.0.1
rpcallowip=172.28.0.0/16

[regtest]
rpcport=18443
port=18444
rpcbind=0.0.0.0
zmqpubhashblock=tcp://0.0.0.0:28332
zmqpubhashtx=tcp://0.0.0.0:28332

[signet]
rpcport=18453
port=18454
rpcbind=0.0.0.0
zmqpubhashblock=tcp://0.0.0.0:28333
zmqpubhashtx=tcp://0.0.0.0:28333
