signet=1
rpcuser=${BITCOIN_RPC_USER}
rpcpassword=${BITCOIN_RPC_PASSWORD}
fallbackfee=0.0001
rpcallowip=127.0.0.1
rpcallowip=172.16.0.0/12

[signet]
rpcport=18473
port=18474
rpcbind=0.0.0.0
zmqpubhashblock=tcp://0.0.0.0:28335
zmqpubhashtx=tcp://0.0.0.0:28335
